main {
  background-color: rgb(255, 247, 236);
  font-family: "Red Hat Text", sans-serif;
  margin: 0 auto;
  width: 1500px;
}

img {
  width: 90%;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  margin: 0px 0 20px 157px;
  padding: 30px 0 0;
}

.btn {
  align-items: center;
  background-color: #ffffff;
  border: 1.5px solid #d1d1d1;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  width: 165px;
  height: 30px;
  padding: 20px;
  margin-left: 40px;
  margin-top: -18px;
  position: relative;
}

.add {
  font-size: 14px;
  font-weight: 700;
  padding: 0;
}

.btnimg {
  display: block;
  width: 16px;
  margin-right: 5px;
}

.plus,
.minus {
  display: none;
  border: 1px solid #fff;
  border-radius: 30px;
}

.minus {
  width: 20px;
  padding: 8px 6px;
  margin-right: 50px;
}

.plus {
  width: 20px;
  padding: 5px;
  margin-left: 18px;
}
.plus:hover,
.minus:hover {
  cursor: pointer;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  stroke: hsl(14, 86%, 42%);
}

.btn:hover {
  cursor: pointer;
  color: hsl(14, 86%, 42%);
  background-color: #fff;
  border-color: hsl(14, 86%, 42%);
  transition: all 1sec ease-in-out;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 1200px;
}

.cart {
  background-color: #fff;
  width: 370px;
  height: 260px;
  margin-top: -40px;
}

.cartheader {
  color: hsl(14, 86%, 42%);
  font-size: 18px;
  font-weight: 800;
  margin-left: 20px;
  margin-top: 10px;
}

.cartimg {
  width: 38%;
  margin-top: 20px;
  margin-left: 120px;
}

.items {
  font-size: 14px;
  font-weight: 700;
  opacity: 0.7;
  text-align: center;
  margin-top: 10px;
}

.header {
  font-size: 14px;
  opacity: 0.7;
  margin-top: 10px;
}

.description {
  font-size: 16px;
  font-weight: 700;
}

.price {
  font-size: 16px;
  font-weight: 700;
  color: hsl(14, 86%, 42%);
  margin-bottom: 25px;
}

.waffle {
  grid-column: 1/2;
  grid-row: 1/2;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
}

.cremebrulee {
  grid-column: 2/3;
  grid-row: 1/2;
}

.macaron {
  grid-column: 3/4;
  grid-row: 1/2;
}

.cart {
  grid-column: 4/5;
  grid-row: 1/2;
}

.tiramisu {
  grid-column: 1/2;
  grid-row: 2/3;
}

.baklava {
  grid-column: 2/3;
  grid-row: 2/3;
}

.pie {
  grid-column: 3/4;
  grid-row: 2/3;
}

.cake {
  grid-column: 1/2;
  grid-row: 3/4;
}

.brownie {
  grid-column: 2/3;
  grid-row: 3/4;
}

.pannacotta {
  grid-column: 3/4;
  grid-row: 3/4;
}

footer {
  text-align: center;
  margin-top: 50px;
}
